body {
    font-family: Arial, Helvetica, sans-serif;
}
  
#home {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/weather.png");
    background-size: cover;
    height: 1000px;
}

.a-home-text {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    color: white;
  }