body {
    font-family: Arial, Helvetica, sans-serif;
}
  
#home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/weather.png");
    background-size: cover;
    height: 1500px;
}

.a-home-text, #day {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    color: white;
  }

#day {
    width: 15.5%;
}

.day-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
}